<% content_for(:title) { 'Novos Empreendimentos' } %>
<%= react_component "shared--Banner", {height: '20vw', blurred: true, text: "Novos Empreendimentos"} %>
<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Porquê comprar <span class="underline decoration-bordeaux">em planta</span>?</h1>
    <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray">
      Sabia que existem múltiplas vantagens em comprar em planta?
    </p>
    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
      <div class="p-8 space-y-3 border-2 border-bordeaux dark:border-bordeaux rounded-xl">
        <div class="inline-block text-bordeaux dark:text-bordeaux text-2xl">
          <i class="fas fa-trophy" aria-hidden="true"></i>
        </div>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Vai ser o primeiro dono da sua nova casa</h1>
        <p class="text-gray-500 dark:text-gray">
          Na compra em planta tem a garantia que o imóvel está pronto a estrear e tem a certeza que você será o primeiro a usufruir dela.
        </p>
      </div>
      <div class="p-8 space-y-3 border-2 border-bordeaux dark:border-bordeaux rounded-xl">
        <div class="inline-block text-bordeaux dark:text-bordeaux text-2xl">
          <i class="fas fa-calendar-alt" aria-hidden="true"></i>
        </div>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Investimento Faseado</h1>
        <p class="text-gray-500 dark:text-gray">
          Possibilidade de disponibilizar o pagamento consoante as fases de evolução da obra e da construção.
        </p>
      </div>
      <div class="p-8 space-y-3 border-2 border-bordeaux dark:border-bordeaux rounded-xl">
        <div class="inline-block text-bordeaux dark:text-bordeaux text-2xl">
          <i class="fas fa-hard-hat" aria-hidden="true"></i>
        </div>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Garantia de construção</h1>
        <p class="text-gray-500 dark:text-gray">
          Um imóvel novo tem a garantia de construção, além da certeza de não haver perspectiva de necessidade de melhoramentos dos edifícios nos próximos anos.
        </p>
      </div>
      <div class="p-8 space-y-3 border-2 border-bordeaux dark:border-bordeaux rounded-xl">
        <div class="inline-block text-bordeaux dark:text-bordeaux text-2xl">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Perspectiva de melhor retorno a nível de investimento</h1>
        <p class="text-gray-500 dark:text-gray">
          Ao adquirir uma casa em planta o investimento que é feito é, por norma, inferior ao investimento que seria necessário fazer caso ela já estivesse pronta. Isto significa que a sua casa, a partir do momento que está pronta, já potencia o seu investimento.
        </p>
      </div>
      <div class="p-8 space-y-3 border-2 border-bordeaux dark:border-bordeaux rounded-xl">
        <div class="inline-block text-bordeaux dark:text-bordeaux text-2xl">
          <i class="fas fa-house-user" aria-hidden="true"></i>
        </div>
        <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Imóvel à sua medida</h1>
        <p class="text-gray-500 dark:text-gray">
          A aquisição em planta, confere a possibilidade do futuro proprietário fazer alterações ao nível de materiais e por vezes ao nível da configuração, de forma a que a sua casa vá de encontro às suas necessidades e gostos.
        </p>
      </div>
    </div>
  </div>
</section>
<%= react_component "shared--Pagination", {pagy: @pagy} %>
<%= react_component "indexPage--Complexes", { listing_complexes: @listing_complexes, allListings: Listing.all }  %>
<%= react_component "shared--Pagination", {pagy: @pagy} %>
