<% content_for(:meta_title) { 'Novos Empreendimentos' } %>
<%= react_component "shared--Banner", {height: '20vw', blurred: true, text: "Novos Empreendimentos"} %>
<div class="pt-6 bg-white text-center">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 center">
    <p id="main-title" class="relative block md:hidden mt-2 text-3xl leading-8 font-extrabold tracking-tight text-black sm:text-4xl px-4">Novos Empreendimentos</p>
  </div>
</div>
<section class="container mx-auto mt-6 mb-12 px-8">
  <div class="py-6 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-black sm:text-4xl">Porquê Comprar <span class="underline decoration-bordeaux">em Planta?</span></p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Sabia que existem múltiplas vantagens em comprar em planta?</p>
      </div>
      <div class="my-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-trophy" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-bold font-medium text-black w-3/4">Vai ser o primeiro dono da sua nova casa</p>
            </dt>
            <p class="text-lg pt-3 font-medium text-gray-800 w-3/4">Na compra em planta tem a garantia que o imóvel está pronto a estrear e tem a certeza que você será o primeiro a usufruir dela.</p>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-bold font-medium text-black w-3/4">Investimento Faseado</p>
            </dt>
            <p class="text-lg pt-3 font-medium text-gray-800 w-3/4">Possibilidade de disponibilizar o pagamento consoante as fases de evolução da obra e da construção.</p>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-hard-hat" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-bold font-medium text-black w-3/4">Garantia de construção</p>
            </dt>
            <p class="text-lg pt-3 font-medium text-gray-800 w-3/4">Um imóvel novo tem a garantia de construção, além da certeza de não haver perspectiva de necessidade de melhoramentos dos edifícios nos próximos anos.</p>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fa fa-money" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-bold font-medium text-black w-3/4">Perspectiva de melhor retorno a nível de investimento</p>
            </dt>
            <p class="text-lg pt-3 font-medium text-gray-800 w-3/4">Ao adquirir uma casa em planta o investimento que é feito é, por norma, inferior ao investimento que seria necessário fazer caso ela já estivesse pronta. Isto significa que a sua casa, a partir do momento que está pronta, já potencia o seu investimento.</p>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-house-user" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-bold font-medium text-black w-3/4">Imóvel à sua medida</p>
            </dt>
            <p class="text-lg pt-3 font-medium text-gray-800 w-3/4">A aquisição em planta, confere a possibilidade do futuro proprietário fazer alterações ao nível de materiais e por vezes ao nível da configuração, de forma a que a sua casa vá de encontro às suas necessidades e gostos.</p>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
<%= react_component "shared--Pagination", {pagy: @pagy} %>
<%= react_component "indexPage--Complexes", { listing_complexes: @listing_complexes, allListings: Listing.all }  %>
<%= react_component "shared--Pagination", {pagy: @pagy} %>
