<%# TODO ADD CALCULATOR HERE %>
<% content_for(:title) { 'Vender' } %>
<%= react_component "shared--Banner", {height: '20vw', blurred: true, text: "Vender"} %>
<div class="pt-6 bg-white text-center">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="block md:hidden mt-2 text-3xl leading-8 font-extrabold tracking-tight text-black sm:text-4xl">Vender</p>
  </div>
</div>
<section class="container mx-auto mt-6 mb-12 px-8">
  <div class="py-6 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-black sm:text-4xl">Saiba quanto vale a sua casa</p>
      </div>
      <script type="text/javascript" src="https://www.casafari.com/valuation-widget/widget.js"></script> <script type="text/javascript">
        window.initializeCasafariWidget({key: "D9557C7E502424960F866EE4286B", operationType: "", lang: "pt"});
      </script>
      <%# Esta calculadora foi criada com base no valor por metro quadrado das casas presentes no mercado dos concelhos de Lisboa, Cascais e Oeiras. O método utilizado para o cálculo tem em consideração as diferentes zonas dentro das freguesias, as condições da casa assim como as suas diferentes áreas. Procure ser realista para um valor mais preciso. %>
      <div class="lg:text-center">
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Quando a sua casa é representada pela nossa equipa, beneficia de um trabalho de consultoria feito à medida e do acesso exclusivo a uma audiência altamente qualificada.</p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Ao promovermos a sua casa, garantimos de imediato:</p>
      </div>
      <div class="my-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-search-dollar" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">A utilização de ferramentas profissionais e especializadas (Recursos Premium) para a avaliação do seu imóvel através da elaboração de estudos de mercado.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-star" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Avaliação independente através entidade avaliadora certificada.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-balance-scale" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Apoio jurídico e legal, do qual beneficiará ao longo de todo o processo.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-camera" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Elaboração de foto reportagem (foto profissional, Vídeo profissional, planta 3d com tour virtual).</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-project-diagram" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">O acesso privilegiado a toda a rede interna Nacional KW.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-comment-dollar" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Partilha com todas as outras Agências do mercado.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-mail-bulk" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">A promoção em todos os canais de divulgação do sector imobiliário - Nacional e Internacional (Imovirtual BPI Expresso Imobiliário Idealista Casa Sapo).</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-hashtag" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">A divulgação também através das nossas Redes Sociais.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-bullhorn" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Placas de divulgação.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-home" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Open house.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-book-open" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Fliers, brochuras e Newsletters.</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="far fa-handshake" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Acompanhamento dedicado e feedback regular e detalhado de todo processo.</p>
            </dt>
          </div>
        </dl>
      </div>
      <div class="lg:text-center">
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">A sua casa é trabalhada em exclusivo por nós na certeza de que faremos um plano de marketing e de divulgação bem como um plano comercial com o objectivo de fazer o melhor negócio no melhor tempo possível.</p>
      </div>
    </div>
  </div>
</section>
