<%# TODO ADD CALCULATOR HERE %>
<div class="container mx-auto">
  Saiba quanto vale a sua casa.<br/>
  Quando a sua casa é representada pela nossa equipa, beneficia de um trabalho de consultoria feito à medida e do acesso exclusivo a uma audiência altamente qualificada. (slogan)<br/>
  Ao promovermos a sua casa, garantimos de imediato: (talvez usar infografia. Icons. Vasco consegues ajudar?)<br/>
  A utilização de ferramentas profissionais e especializadas (Recursos Premium) para a avaliação do seu imóvel através da elaboração de estudos de mercado;<br/>
  Avaliação independente através entidade avaliadora certificada;<br/>
  Apoio jurídico e legal, do qual beneficiará ao longo de todo o processo;<br/>
  Elaboração de foto reportagem (foto profissional, Vídeo profissional, planta 3d com tour virtual);<br/>
  O acesso privilegiado a toda a rede interna Nacional KW;<br/>
  Partilha com todas as outras Agências do mercado;<br/>
  A promoção em todos os canais de divulgação do sector imobiliário - Nacional e Internacional (Imovirtual; BPI Expresso Imobiliário; Idealista; Casa Sapo);<br/>
  A divulgação também através das nossas Redes Sociais;<br/>
  Placas de divulgação;<br/>
  Open house;<br/>
  Fliers e brochuras e Newsletters;<br/>
  Acompanhamento dedicado e feedback regular e detalhado de todo processo.<br/>
  A sua casa é trabalhada em exclusivo por nós na certeza de que faremos um plano de marketing e de divulgação bem como um plano comercial com o objectivo de fazer o melhor negócio no melhor tempo possível. <br/>
  Calcule o valor da sua casa, já!<br/>
  (introduzir a calculadora aqui)<br/>
  Esta calculadora foi criada com base no valor por metro quadrado das casas presentes no mercado dos concelhos de Lisboa, Cascais e Oeiras. O método utilizado para o cálculo tem em consideração as diferentes zonas dentro das freguesias, as condições da casa assim como as suas diferentes áreas. Procure ser realista para um valor mais preciso.<br/>
</div>
