<%# TODO ADD CALCULATOR HERE %>
<% content_for(:meta_title) { 'Vender' } %>
<%= react_component "shared--Banner", {height: '20vw', blurred: true, text: "Vender"} %>
<div class="pt-6 bg-white text-center">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 center">
    <p id="main-title" class="relative block md:hidden mt-2 text-3xl leading-8 font-extrabold tracking-tight text-black sm:text-4xl px-4">Vender</p>
  </div>
</div>
<section class="container mx-auto mt-6 mb-12 px-2 sm:px-8">
  <div class="py-6 bg-white">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="px-2 sm:px-0 lg:text-center">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-black sm:text-4xl">Saiba quanto vale a sua casa</p>
      </div>
      <script type="text/javascript" src="https://www.casafari.com/valuation-widget/widget.js"></script> <script type="text/javascript">
        window.initializeCasafariWidget({key: "D9557C7E502424960F866EE4286B", operationType: "", lang: "pt"});
      </script>
      <div class="px-2 sm:px-0">
        <%# Esta calculadora foi criada com base no valor por metro quadrado das casas presentes no mercado dos concelhos de Lisboa, Cascais e Oeiras. O método utilizado para o cálculo tem em consideração as diferentes zonas dentro das freguesias, as condições da casa assim como as suas diferentes áreas. Procure ser realista para um valor mais preciso. %>
        <div class="lg:text-center">
          <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Garantimos que lhe proporcionamos o melhor negócio para a venda da sua casa.</p>
          <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Oferecemos um serviço de consultoria que trabalha a sua casa de uma forma única e à medida do que pretende, com foco na estratégia de promoção e activação da melhor divulgação.</p>
          <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">O nosso objectivo é encontrar o melhor Cliente no mais breve tempo possível, para isso disponibilizamos:</p>
        </div>
        <div class="my-10">
          <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-search-dollar" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Estudo do Mercado - elaboração de analises comparativas de Mercado e relatórios de caracterização da zona a considerar.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-star" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Avaliação certificada do seu imóvel.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-balance-scale" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Garantia de implementação de processos e procedimentos regulados pelo sector.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-camera" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Produção Multimédia: Reportagem fotográfica+vídeo.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-project-diagram" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Acesso exclusivo a toda a rede Nacional KW.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-comment-dollar" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Partilha da venda com todas as agências do mercado.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-mail-bulk" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Divulgação nos mais relevantes portais imobiliários nacionais e internacionais.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-hashtag" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Divulgação Social Media.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-bullhorn" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Utilização de placas de promoção.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-home" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Realização de Open House.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-book-open" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Acções de proximidade: Flyers; brochuras; newsletters.</p>
              </dt>
            </div>
            <div>
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="far fa-handshake" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lg font-medium text-black w-3/4">Feedback detalhado e regular.</p>
              </dt>
            </div>
          </dl>
        </div>
        <div class="lg:text-center">
          <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">Trabalharemos a sua casa com a exclusividade, dedicação e fazemos um acompanhamento de proximidade ao longo de todo o processo.</p>
        </div>
      </div>
    </div>
  </div>
</section>
