<div class="signature">
  <div class="logo-container">
    <img src="/logos/main.webp" alt="Sofia Galvão Group Logo">
  </div>

  <div class="contact">
    <p><a href="tel:+351932829084">+351 93 28 29 084</a></p>
    <p><a href="https://www.sofiagalvaogroup.com">www.sofiagalvaogroup.com</a></p>
  </div>

  <p class="tagline">Juntos criamos lares Felizes!</p>

  <div class="logo-container">
    <img src="/logos/kw-lead.webp" alt="KW Lead Logo">
  </div>

  <div class="company">
    <p>Mediação, Imobiliária, Lda.</p>
    <p>AGENT CENTRIC</p>
    <p>Licença AMI 12518</p>
  </div>
</div>