<% content_for(:meta_title) { @blog_post.meta_title } %>
<% content_for(:meta_description) { @blog_post.meta_description } %>
<% content_for(:meta_image) { @blog_post.main_photo } %>

<div id="blog-show" class="relative">
  <% if current_admin.present? && current_admin.confirmed? %>
    <div class="absolute" style="z-index: 99; top: 1rem; left: 1rem">
      <%= link_to 'Ver Post no Backoffice', edit_backoffice_blog_post_path(@blog_post), class: 'bg-blue-300 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline', data: { "turbo": false }%>
    </div>
  <% end %>
  <div class="tinymce pt-20 px-8 mx-auto container">
    <h1 class='pb-4'><%= @blog_post.title %></h1>
    <%= sanitize @blog_post.text %>
  </div>
</div>
