<% content_for(:meta_title) { @blog_post.meta_title } %>
<% content_for(:meta_description) { @blog_post.meta_description } %>
<% content_for(:meta_image) { @blog_post.main_photo } %>

<div id="blog-show" class="relative">
  <div class="tinymce pt-20 px-8 mx-auto container">
    <h1 class='pb-4'><%= @blog_post.title %></h1>
    <%= sanitize @blog_post.text %>
  </div>
</div>
