<% content_for(:title) { 'Contactos' } %>
<%= react_component "shared--Banner", {height: '20vh', blurred: true, text: "Contactos"} %>
<div class="container mx-auto mt-6 mb-12 px-8">
  Av. Dom Carlos I 124, Lisboa, Portugal<br/>
  KW Lead - Santos<br/>
  +351 932829084  - Sofia Galvão<br/>
  sofia.galvao@kwportugal.pt<br/>
</div>
