<% content_for(:meta_title) { 'Contactos' } %>
<div class="container mx-auto mt-6 mb-12 px-8">
  <section class="bg-white py-5 lg:py-[120px] overflow-hidden relative z-10">
    <div class="container">
      <div class="flex flex-wrap lg:justify-between -mx-4">
        <div class="w-full lg:w-1/2 xl:w-6/12 px-4">
          <div class="max-w-[570px] mb-12 lg:mb-0">
            <span class="block mb-4 text-base text-primary font-semibold">
              Contacte-nos
            </span>
            <h2
                    class=" text-dark mb-6 uppercase font-bold text-[32px] sm:text-[40px] lg:text-[36px] xl:text-[40px] "
                    >
              ENTRE EM CONTACTO CONNOSCO
            </h2>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-location-arrow" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">Av. Dom Carlos I 124, Lisboa, Portugal</p>
              </dt>
            </div>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-store-alt" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">KW Lead - Santos</p>
              </dt>
            </div>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">+351 932829084  - Sofia Galvão</p>
              </dt>
            </div>
            <div class="mt-4">
              <dt class="flex items-center">
                <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                  <i class="fas fa-at" aria-hidden="true"></i>
                </div>
                <p class="ml-4 text-lgleading-[3rem] font-medium text-black w-3/4">sofia.galvao@kwportugal.pt</p>
              </dt>
            </div>
          </div>
        </div>
        <div className="w-full lg:w-1/2 xl:w-5/12 px-4">
          <%= react_component "contactPage--ContactForm" %>
        </div>
      </div>
    </div>
  </section>
</div>
