<% content_for(:title) { 'Casa 360' } %>
<%= react_component "shared--Banner", {height: '20vh', blurred: true, text: "Casa 360"} %>
<div class="container mx-auto mt-6 mb-12 px-8">
  Ao longo do desenvolvimento do nosso negócio, fomos também desenvolvendo parcerias alinhadas com a nossa filosofia sobre o negócio e que, ao mesmo tempo, garantem o melhor serviço aos nossos clientes.  <br/>
  Acreditamos que estes serviços englobam todas as necessidades relativas ao imóvel. <br/>
  <ul class="pl-6">
    <li><i class="fa-solid fa-house"></i> certificação energética;</li>
    <li><i class="fa-solid fa-house"></i> gabinetes de arquitectura;</li>
    <li><i class="fa-solid fa-house"></i> empresas de construção civil;</li>
    <li><i class="fa-solid fa-house"></i> empresas p pequenas remodelações;</li>
    <li><i class="fa-solid fa-house"></i> serviços de limpezas especializados em obras e mudanças;</li>
    <li><i class="fa-solid fa-house"></i> empresas de mudanças e transportes;</li>
    <li><i class="fa-solid fa-house"></i> empresas de jardinagem;</li>
    <li><i class="fa-solid fa-house"></i> atelier de design e decoração de interiores.</li>
  </ul>
</div>
