<div class="container mx-auto">
  Ao longo do desenvolvimento do nosso negócio, fomos também desenvolvendo parcerias alinhadas com a nossa filosofia sobre o negócio e que, ao mesmo tempo, garantem o melhor serviço aos nossos clientes.  <br/>
  Acreditamos que estes serviços englobam todas as necessidades relativas ao imóvel. <br/>
  . certificação energética;<br/>
  . gabinetes de arquitectura;<br/>
  . empresas de construção civil;<br/>
  . empresas p pequenas remodelações;<br/>
  . serviços de limpezas especializados em obras e mudanças;<br/>
  . empresas de mudanças e transportes;<br/>
  . empresas de jardinagem;<br/>
  . atelier de design e decoração de interiores.<br/>
</div>
