<% content_for(:meta_title) { 'Casa 360' } %>
<%= react_component "shared--Banner", {height: '20vh', blurred: true, text: "Casa 360"} %>
<div class="container mx-auto mt-6 mb-12 px-8">
  <div class="py-6 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <p class="block md:hidden mt-2 text-3xl leading-8 font-extrabold tracking-tight text-black sm:text-4xl">Casa 360</p>
      <p class="mt-4 text-xl text-gray-500 max-w-max">O serviço especial 360 coloca à disposição de todos os Clientes soluções à medida para a cada uma das necessidades relativas ao universo imobiliário.</p>
      <p class="mt-4 text-xl text-gray-500 max-w-max">Com a garantia de qualidade das parcerias que estabelecemos, recomendamos empresas que são uma referência na sua área e “Juntos Criamos Lares Felizes!”</p>
      <div class="my-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-plug" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Certificação Energética</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-drafting-compass" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Arquitectura</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-hard-hat" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Construção Civil</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-hammer" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Pequenas obras e remodelações</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-broom" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Limpezas de Obras e Mudanças</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-truck-moving" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Mudanças e Transportes</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-leaf" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Jardinagem</p>
            </dt>
          </div>
          <div>
            <dt class="flex items-center">
              <div class="relative flex items-center justify-center h-12 w-12 rounded-md border-2 border-bordeaux text-bordeaux">
                <i class="fas fa-couch" aria-hidden="true"></i>
              </div>
              <p class="ml-4 text-lg font-medium text-black w-3/4">Design e Decoração de Interiores</p>
            </dt>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
