<div class="container mx-auto">
  Enquanto especialistas de mercado, todos os serviços complementares e de apoio às operações de mediação imobiliária estão no âmbito da nossa atuação. <br/>
  Visamos fornecer informação especializada baseada em ferramentas específicas e profissionais (Casafari, Confidencial Imobiliário, Alfredo) que nos dão informação sobre a valorização dos imóveis bem como do mercado imobiliário, quer ao nível de venda, quer ao nível de arrendamento. <br/>
  Investimos numa avaliação patrimonial com relatório certificado por entidade competente e independente.<br/>
  Asseguramos o apoio jurídico-legal em todas as fases do processo.<br/>
  Promovemos a concessão de crédito através dos serviços de intermediação que garantem a relação com os bancos e a selecção da melhor proposta bancária para o nosso cliente. <br/>
  Garantimos um acompanhamento de investidores e consultoria financeira focada em clientes interessados em investimentos imobiliários. <br/>
  (penso que talvez seja repetitivo com o vem abaixo)<br/>
  Gestão e Consultoria Imobiliária<br/>
  Um serviço personalizado e ágil, alicerçado numa negociação assertiva.<br/>
  Qualquer que seja a área de mediação imobiliária, garantimos o nosso profissionalismo e dedicação.<br/>
  Mediação Compra-Venda / Investimento imobiliário / Novos Empreendimentos<br/>
  Comprar casa é muito mais do que simplesmente encontrar um imóvel. Trata-se de encontrar uma equipa em quem possa confiar as suas poupanças. Alguém que lhe dê segurança e que possa apoiar as suas decisões de forma profissional e de acordo com todos os parâmetros legais e financeiros. Alguém que defenderá os seus interesses de forma assertiva e decisiva. Alguém que o possa aconselhar nos seus negócios e encontrar para si o melhor investimento para o seu futuro. <br/>
  Intermediação de Crédito (ou Apoio Financeiro)<br/>
  Um ponto de partida seguro para garantir a casa dos seus sonhos.<br/>
  Encontrar a sua casa de sonho pode por vezes demorar algum tempo. Mas o mercado imobiliário está hoje em dia demasiado volátil para correr riscos. <br/>
  A melhor forma de começar todo o processo é sabendo exactamente qual a sua capacidade financeira para que, quando chegar o momento de fazer uma proposta e fechar negócio, não existam surpresas e, acima de tudo, colocar os nossos clientes numa posição privilegiada e competitiva face a todos os outros compradores.  <br/>
  Dada a importância deste passo, trabalhamos com parceiros de confiança que asseguram os interesses dos nossos clientes e dos seus investimentos. <br/>
  O trabalho destes nossos parceiros é fazer uma consulta ao mercado bancário e procurar, junto de várias instituições financeiras, quais as melhores opções para SI, para o SEU valor de investimento, para a SUA realidade financeira. Cada caso é um caso, e por isso é importante procurar a melhor solução para cada cliente, individualmente. <br/>
  Peça já a sua avaliação bancária e inicie o seu processo de compra de casa. (link para um formulário de contacto por exemplo).<br/>
  Apoio Jurídico<br/>
  O sucesso é a arte do detalhe.<br/>
  Também aqui privilegiamos relações de bastante proximidade e uma comunicação constante com o departamento jurídico-legal, para garantir a viabilidade dos seus negócios.<br/>
  Todos os nossos processos são devidamente acompanhados por um departamento jurídico que nos consegue dar resposta em tempo real. Esta consultoria jurídica permite-nos ter confiança e agir com segurança em todas as etapas, o nos permite garantir que todo o processo e toda a documentação está regularizada e em concordância com a lei. <br/>
  É imprescindível ter uma equipa dedicada e responsável pelas várias componentes que compõem cada negócio.  (frase de fecha o capitulo)<br/>
</div>
