<div class="signature">
  <div class="logo-container-main">
    <img src="https://sofiagalvaogroup.com/logos/main.png" alt="Sofia Galvão Group Logo">
  </div>

  <div class="contact">
    <p><a href="tel:+351932829084">+351 93 28 29 084</a></p>
    <p><a href="https://www.sofiagalvaogroup.com/en">www.sofiagalvaogroup.com/en</a></p>
  </div>

  <p class="tagline">Together we create happy homes!</p>

  <div class="logo-container">
    <img src="https://sofiagalvaogroup.com/logos/kw-lead.png" alt="KW Lead Logo">
  </div>

  <div class="company">
    <p>Real Estate Mediation, Ltd.</p>
    <p>AGENT CENTRIC</p>
    <p>AMI License 12518</p>
  </div>
</div>