<h1><%= @user.first_name %>, obrigado por ter subscrito à newsletter Sofia Galvão Group.</h1>
<p>Por favor carregue no botão abaixo para confirmar a subscrição.</p>
<div class="flex center">
  <%= link_to 'Confirmar', confirm_newsletter_subscription_url(@id, token: @token, locale: ''), class: 'button', target: '_blank' %>
</div>
