<h1><%= @user.email %>, obrigado subscrito à newsletter Sofia Galvão</h1>
<p>Por favor carregue no botão abaixo para confirmar a subscrição</p>

<div class="flex center">
  <%= link_to 'Confirmar', confirm_newsletter_subscription_url(@sub), class: "button", target: "_blank" %>
</div>
