@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./tinymce.css";

@font-face {
  font-family: "Exter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/exter-ultra-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Apparat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Apparat-Light.otf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: theme("colors.white");
  font-family: "Apparat", sans-serif;
}

body.dark {
  background-color: theme("colors.dark");
}

h1,
h2,
#main-title {
  font-family: "Exter";
}

.quarter ~ * {
  position: relative;
  z-index: 3;
}

h3,
h4,
h5 {
  font-family: "Exter";
  max-width: 60ch;
}

p,
.standard {
  font-family: "Apparat";
  max-width: 60ch;
}

strong {
  font-family: "Exter";
  font-weight: 100;
}

*:hover {
  transition: all ease 0.25s;
}

/* ANIMATIONS */

@keyframes door {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* EXTRA STYLING */

.max-height {
  height: calc(100vh - 4rem);
}

.quarter {
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 100%;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 0;
  height: 50vh;
  width: 50vh;
  aspect-ratio: 1;
}

.quarter.moving::after {
  content: "";
  position: absolute;
  z-index: 2;
  height: 101%;
  width: 101%;
  background-color: theme("colors.white");
  right: 100.25%;
  bottom: -0.25%;
  transform-origin: bottom right;
  transition: all 300ms 0s ease-in-out;
  animation: door 800ms ease-in-out 2 alternate;
}

.dark .quarter.moving::after {
  background-color: theme("colors.dark");
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-hero {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

#banner > span > h1::before,
#main-title::before {
  content: "";
  position: absolute;
  z-index: 2;
  height: 75%;
  aspect-ratio: 1;
  border: 2px solid black;
  right: 100%;
  bottom: 0;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dark #banner > span > h1::before,
.dark #main-title::before {
  border-color: theme("colors.light");
}

.modal {
  background: rgb(211 175 121 / 0.5);
  backdrop-filter: blur(6px);
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.slider-frame {
  padding-bottom: 3rem !important;
}

#results .slider-frame {
  padding-bottom: 0 !important;
}

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
}

.rc-slider .rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px;
}

.rc-slider .rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #e9dbc6;
}

.rc-slider .rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}

.rc-slider .rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px theme("colors.beige.default");
  background-color: theme("colors.white");
  touch-action: pan-x;
}

.rc-slider .rc-slider-handle:active {
  border-color: theme("colors.beige.default");
  box-shadow: 0 0 5px theme("colors.beige.default");
}

.rc-slider .rc-slider-handle:focus {
  border-color: theme("colors.beige.default");
  box-shadow: 0 0 0 5px theme("colors.beige.default");
  outline: none;
}

.rc-slider .rc-slider-handle-click-focused {
  border-color: theme("colors.beige.default");
  box-shadow: 0 0 0 5px theme("colors.beige.default");
}

.rc-slider .rc-slider-handle:hover {
  border-color: theme("colors.beige.default");
}

.rc-slider
  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: theme("colors.beige.default");
  box-shadow: 0 0 5px theme("colors.beige.default");
  cursor: grabbing;
}

.rc-slider .rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}

.rc-slider .rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
}

.rc-slider .rc-slider-mark-text-active {
  color: rgba(0, 0, 0, 0.65);
}

.slick-arrow::before {
  color: theme("colors.beige.default") !important;
  font-size: 1.5rem !important;
}

.slick-next {
  right: 0 !important;
  z-index: 10;
}

.slick-prev {
  left: 0 !important;
  z-index: 10;
}

.toggler label {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.toggler input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler .icon {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.toggler .toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  cursor: pointer;
  background: theme("colors.dark");
  border-radius: 20px;
}

.toggler .toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: theme("colors.white");
  border-radius: 50%;
  transition: 0.3s;
}

.toggler input:checked + .toggle {
  background-color: theme("colors.beige.default");
}

.toggler input:checked + .toggle:before {
  transform: translateX(15px);
}

@media screen and (max-width: 1340px) {
  .center-hero {
    flex-direction: column;
    align-items: start;
    width: fit-content;
    margin: auto;
  }

  .quarter {
    margin-left: 3rem;
    height: 30vh;
    width: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .center-hero {
    flex-direction: column;
    align-items: start;
    width: auto;
  }

  .quarter {
    margin-left: 0;
    max-width: 30vh;
    width: 100%;
    height: auto;
  }

  .slick-next,
  .slick-prev {
    display: none !important;
  }
}

.magic-dots.slick-dots ul {
  padding: 0;
  display: flex;
  transition: all 0.2s;
  position: relative;
  margin: 0px;
}

.magic-dots.slick-dots li.slick-active button::before {
  color: theme("colors.beige.default");
}

.magic-dots.slick-dots li button::before {
  transition: font-size 0.35s;
  font-size: 12px;
  color: theme("colors.beige.default");
  content: "\2022";
}

.magic-dots.slick-dots li.small button::before {
  font-size: 8px;
  line-height: 20px;
}
