<div>
  <div class="email-title">
    Hi <%= @name %>,
  </div>

  <div class="email-info">
    <p><strong>It's official: you've just joined SGG Club!</strong></p>

    <p>Thank you for believing in our mission to improve housing conditions for those who truly need it.</p>

    <p>Your registration has been successfully received.</p>

    <p>You can read the club regulations here: <a href="https://sofiagalvaogroup.com/en/clube-sgg/regulamento">read the regulations on our website</a>.</p>

    <p>For this mission to grow, we need you.</p>

    <h2>Here are 3 simple ways you can make a difference:</h2>

    <ul>
      <li><strong>Refer people who want to buy or sell a home</strong> — it's through these opportunities that we're able to fund support for those who need it most.</li>

      <li><strong>Share Clube SGG's mission with friends and family</strong> — we want to build this community with people who care, just like you. And there's nothing better than bringing your loved ones along.</li>

      <li><strong>Send us stories of people you know who might need help</strong> — sometimes, change begins right next to us. We want to hear about real cases where we can step in.</li>
    </ul>

    <p>You can reach us by email or WhatsApp.</p>

    <p>Want to follow the stories of the people we're helping?</p>

    <p>Then join our WhatsApp community! That's where we share everything first:</p>

    <p>👉 <a href="https://chat.whatsapp.com/H95zZ7JtLSA087SXkdtYu6">Join the WhatsApp Community</a></p>

    <p>If you ever need to talk to us, we're always here: <a href="mailto:geral@sofiagalvaogroup.com">send us an email</a>.</p>

    <p>Welcome to the change,</p>

    <p>Sofia Galvão,</p>
  </div>

  <%= render 'shared/email_signature' %>
</div>
