@font-face {
  font-family: "AzoSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("AzoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AzoSans-Bold";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("AzoSans-Bold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f9f9f9;
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-family: "AzoSans";
}

.quarter ~ * {
  position: relative;
  z-index: 3;
}

h3,
h4,
h5 {
  font-family: "AzoSans-Bold";
  max-width: 60ch;
}

p,
.standard {
  font-family: "AzoSans";
  max-width: 60ch;
}

*:hover {
  transition: all ease 0.25s;
}

/* ANIMATIONS */

@keyframes door {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* EXTRA STYLING */

.max-height {
  height: calc(100vh - 4rem);
}

.quarter {
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 100%;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 0;
  /* overflow: hidden; */
}

.quarter.moving::after {
  content: "";
  position: absolute;
  z-index: 2;
  height: 101%;
  width: 101%;
  background-color: #f9f9f9;
  right: 100.25%;
  bottom: 0;
  transform-origin: bottom right;
  transition: all 300ms 0s ease-in-out;
  animation: door 800ms ease-in-out 2 alternate;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-hero {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

#banner > span > h3::before,
#main-title::before {
  content: "";
  position: absolute;
  z-index: 2;
  height: 75%;
  aspect-ratio: 1;
  border: 2px solid black;
  right: 100%;
  bottom: 0;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
